canvas {
    height: 600px !important;
    margin-left: 300px;
    margin-top: 200px;
}

.mpower {
    position: absolute;
    top: 130px;
    left: 160px;
    width: 120px;
}

.model_title h1 {
    position: absolute;
    top: 300px;
    left: 160px;
}