.header {
  background-color: rgb(70, 67, 67);
  margin-bottom: 50px;
  height: 40px;
  display: flex;
}

.header a {
  color: white;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.btn {
    display: flex;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0rem 2.4rem;
    border: none;
    border-radius: 0px;
    background-color: rgb(28, 105, 212);
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    transition: background-color 0.25s ease 0s;
    text-decoration: none;
    font-weight: 700;
    font-family: BMWType, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.1rem;
}


.cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img {
  width: 600px;
  margin-left: 78px;
}

.img img {
  width: 800px;
  height: 550px;
}

.imgFirst img {
    width: 65px;
    
}

.imgFirst{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.title {
    width: 400px;
    height: 485px;
    padding: 2.4rem 2.4rem 1.6rem;
    background: rgb(248, 248, 248);
    margin-right: 80px;
}

.conteiner {
  width: 100%;
}

.p {
  color: rgb(0, 0, 0);
  padding-left: 0.4em;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: normal;
}

.cen {
    font-size: 40px;
}
