body .offer{
    width: 600px;
    margin: auto;
}

.offer form{
    display: flex;
    flex-direction: column;
}

.offer .name{
    height: 50px;
    width: 600px;
    margin-bottom: 10px;
}

.offer .surname{
    height: 50px;
    width: 600px;
    margin-bottom: 10px;
}

.offer .tel{
    height: 50px;
    width: 600px;
    margin-bottom: 10px;
}

.offer input{
    display: flex;
}

.offer input::placeholder{
    font-size: 20px;
    color: rgb(177, 172, 172);
}

.gender{
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
}

.genderInput{
    margin-right: 10px;
}

.offer input{
    font-size: 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.btn button{
    width: 300px;
    height: 50px;
    background-color: rgb(90, 28, 215);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-color: rgb(90, 28, 215);
}

.checked{
    display: flex;
    margin: 0;
}